@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin for-mobile {
  @media (max-width: 450px) {
    @content;
  }
}
.container{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;

.content{
  display: flex;
  gap: 1rem;
  width:100%;
  @include for-mobile(){
    flex-direction: column;
  }
  .left-content{
    width: 60%;
    @include for-mobile(){
      width:100%;
    }
    .title{
      display: flex;
      justify-content: space-around;
      align-items: center;
      h2{
        font-size: 1.8rem; 
        color:#c3343a;
        @include for-mobile(){
          font-size: 1.5rem;
        }
      }
    
    }
    .newSections{
      display: flex;
      flex-direction: column;
      align-items: center;
      section{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        @include for-mobile(){
          flex-direction: column;
          gap:1rem;
        }
        .approval-future-div{
          display: flex;
          align-items: center;
          gap: 2rem;
          @include for-mobile(){
            flex-direction: column;
          }
          section{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          .vertical-border{
            height: 10rem;
            max-height: 10rem;
            width: 0.12rem;
            max-width: 0.12rem;
            background-color: #c3343a;
            @include for-mobile(){
              height:0rem;
            }
          }
        }
        .mat-form-field{
          width: 16rem;
        }
      }
     }
  }
  .right-content{
    width: 40%;
    padding-inline-start: 5px;
    border-left: 3px dashed #c3343a;
    @include for-mobile(){
      width:100%;
      border-left:0px;
    }
    .title{
      display: flex;
      justify-content: space-around;
      align-items: center;
      h2{
        color:#c3343a;
      }
    }
    section{
      display: flex;
      justify-content: space-evenly;
      @include for-mobile(){
        flex-direction: column;
      }
      .mat-form-field{
        width: 12rem;
        text-align: center;
        @include for-mobile(){
          width:16rem;
        }
      }
    }
  }

}


.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 17rem;
  padding:1rem;
  @include for-mobile(){
    gap:1rem;
  }
  button{
    width:7rem;
    height: 3rem;
    @include for-mobile(){
      width:7rem;
      height: 2.5rem;
    }
  }
  }
}


